{% extends 'global/base.html' %}

{% block content %}
    <div class="container projects py-3 case">
        <h2 class="display-3 pb-3">Projetos concluidos</h2>
        <div class="row pt-3">
            {% for project in projects %}
                <div class="col-md-4 mb-4">
                    <div class="project-card">
                        <div class="project-card-img">
                            <img class="img-fluid" src="{{ project.thumbnail.url }}" alt="">
                        </div>
                        <div class="project-card-body px-4 pb-3">
                            <h3 class="display-6 text-center py-2">{{ project.title }}</h3>
                            <a class="text-center h6" href="">Ver mais...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2 class="display-3 pb-3">Projetos em andamento</h2>
        <div class="row pt-3">
            {% for project in projects %}
                <div class="col-md-4 mb-4">
                    <div class="project-card">
                        <div class="project-card-img">
                            <img class="img-fluid" src="{{ project.thumbnail.url }}" alt="">
                        </div>
                        <div class="project-card-body px-4 pb-3">
                            <h3 class="display-6 text-center py-2">{{ project.title }}</h3>
                            <a class="text-center h5" href="">Ver mais...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}