{% extends 'global/base.html' %}

{% block content %}
    <div class="container case py-3 py-md-4">
        <div class="row justify-content-center">
            <div class="col-11 col-md-10">
                <div class="row justify-content-between rounded-4 bg-white shadow">
                    <div class="col-md-4 pt-3 pt-md-5 px-3 rounded-4">
                        <h2 class="display-5 text-center text-color-primary text-md-start pb-md-3">{{ project.title }}</h2>
                        <div class="row">
                            <p class="fs-5">Fotos:</p>
                            {% for picture in pictures %}
                            <div class="col-md-6 pb-3 col-6 project-imgs">
                                <a href="{{ picture.image.url }}" onclick="swap(this); return false;">
                                    <img src="{{ picture.image.url }}" alt="project-img" class="img-fluid rounded-4 shadow">  
                                </a>
                            </div>
                            {% empty %}
                                <p>Este projeto ainda não possui fotos</p>
                            {% endfor %}
                        </div>
                    </div>
        
                    <div class="thumb-img col-md-8 p-2 p-md-4 d-flex justify-content-center">
                        {% if project.thumbnail %}
                            <img src="{{ project.thumbnail.url }}" alt="thumb-img" 
                                class="img-fluid rounded-4 shadow" id="main">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function swap(image) {
            document.getElementById("main").src = image.href;
        }
    </script>
{% endblock content %}