{% extends 'global/base.html' %}

{% block content %}
    <div class="container case py-3 py-md-4">
        <div class="row justify-content-between py-md-3">
            <div class="col-md-4">
                <h2 class="display-3 text-center text-md-start pb-md-3">{{ project.title }}</h2>
                <hr>
                <div class="row">
                    <h3>Fotos:</h3>
                    {% for picture in pictures %}
                    <div class="col-md-6 pt-md-3 pb-3 col-4 project-imgs">
                        <a href="{{ picture.image.url }}" onclick="swap(this); return false;">
                            <img src="{{ picture.image.url }}" alt="project-img" class="img-fluid">  
                        </a>
                    </div>
                    {% empty %}
                    <p>Este projeto ainda não possui fotos</p>
                    {% endfor %}
                </div>
            </div>

            <div class="thumb-img col-md-7">
                <img src="{{ project.thumbnail.url }}" alt="thumb-img" class="img-fluid" id="main">
            </div>
        </div>
    </div>
    <script>
        function swap(image) {
            document.getElementById("main").src = image.href;
        }
    </script>
{% endblock content %}