<button type="button" class="btn bg-dark shadow rounded-5 text-danger" data-bs-toggle="modal"
  data-bs-target="#delete-project-{{ project.id }}">
  <i class="bi bi-trash"></i>
</button>

<div class="modal fade" id="delete-project-{{ project.id }}" tabindex="-1" aria-labelledby="delete-project-label-{{ project.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="delete-project-label-{{ project.id }}">
            Deletar projeto {{ project.title }}
          </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Você tem certeza que deseja deletar {{ project.title }}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form action="{% url 'users:delete_project' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="project_id" value="{{ project.id }}">
          <button type="submit" class="btn btn-danger">
            Deletar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
