<div class="open-btn">
  <button type="button" class="btn py-3 shadow col-12 rounded-4 fs-md-5" data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvas-materials" aria-controls="offcanvas-materials">
    <i class="bi bi-bricks"></i>
    Materiais
  </button>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas-materials" 
  aria-labelledby="offcanvas-materials-label">
  <div class="offcanvas-header justify-content-end">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" 
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body bg-dark">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto px-0">
          <h3 class="display-6">Materiais</h3>
        </div>
        <div class="col-auto px-0">
          <button class="btn btn-outline-primary" data-bs-toggle="modal" 
            data-bs-target="#new-material-modal">
            Adicionar material
          </button>
          <div class="modal fade" id="new-material-modal" tabindex="-1" 
            aria-labelledby="new-material-modal-label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-dark" id="new-material-modal-label">
                    Adicionar material
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" 
                  aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                  <form action="{% url 'users:dashboard' %}" method="POST" 
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-8 mb-4">
                        <label class="form-label" for="{{ new_material_form.material.id_for_label }}">
                            {{ new_material_form.material.label }}
                        </label>
                        {{ new_material_form.material }}
                      </div>
  
                      <div class="col-4 mb-4">
                        <label for="" class="form-label">Situação</label>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                            name="stocked" value="True">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Em estoque</label>
                        </div>
                      </div>
  
                      <div class="col-12 mb-4">
                        <label class="form-label" for="{{ new_material_form.short_description.id_for_label }}">
                            {{ new_material_form.short_description.label }}
                        </label>
                        {{ new_material_form.short_description }}
                      </div>
  
                      <div class="col-12 mb-4">
                        <label class="form-label" for="{{ new_material_form.sample_picture.id_for_label }}">
                            {{ new_material_form.sample_picture.label }}
                        </label>
                        {{ new_material_form.sample_picture }}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                      <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row bg-white rounded pt-3 mt-3 align-items-center">
        {% for material in materials %}
          <div class="col-12 mb-1">
            <div class="row justify-content-between align-items-center">
              <div class="col-6 pb-2">
                <p class="pt-0 mb-0 text-dark fs-5">
                  {{ material.material }}
                </p>
              </div>
              <div class="col-auto pb-2">
                {% if material.stocked %}
                  <p class="pt-0 mb-0 fs-6">Em estoque</p>
                {% else %}
                <p class="pt-0 mb-0 fs-6">Esgotado</p>
                {% endif %}
              </div>
              <div class="col-10 pb-2">
                <p class="fs-6 mb-0">{{ material.short_description }}</p>
              </div>
              <div class="col-2">
                <button type="button" class="btn" data-bs-toggle="modal" 
                data-bs-target="#delete-material{{ material.id }}-modal">
                  <i class="bi bi-trash"></i>
                </button>

                <div class="modal fade" id="delete-material{{ material.id }}-modal" tabindex="-1" 
                  aria-labelledby="delete-material{{ material.id }}-modalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <p class="fs-6">Tem certeza de que deseja deletar o material {{ material.material }}?</p>
                      </div>
                      <div class="modal-footer">
                        <form action="{% url 'users:delete_material' %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="material_id" value="{{ material.id }}">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-danger">Deletar</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
