{% extends 'global/base.html' %}

{% block content %}
  <div class="case container py-3">
    <div class="row mx-1 mx-md-0 bg-white rounded-4 shadow">
      <div class="col-md-3 position-relative bg-dark text-white rounded-4 py-5 px-3">
        <div class="row dash-options pb-5 justify-content-center">
          <div class="col-12">
            <h2 class="h4 text-center text-color-primary pt-3">Bem vindo(a), {{ request.user.first_name }}!</h2>
          </div>
          
          <div class="col-11 mt-4">
            {% include '../partials/_register.html' %}
          </div>
          <div class="col-11 mt-3">
            {% include '../partials/_all-messages.html' %}
          </div>
          <div class="col-11 mt-3">
            {% include '../partials/_materials.html' %}
          </div>
        </div>
      </div>
      <div class="col-md-9 py-5 px-md-5 position-relative">
        <div class="position-absolute end-0 me-4 me-md-5 mt-md-2">
          <form action="{% url 'users:logout_view' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ request.user.username }}">
            <button type="submit" class="btn bg-dark shadow rounded-5 text-danger fs-md-5" href="#">
              <i class="bi bi-box-arrow-left"></i>
            </button>
          </form>
        </div>
        <h2 class="display-6">Projetos postados</h2>
        <div class="row mt-3 ps-3 ps-md-2 pt-3 dash-projects overflow-auto">
          {% for project in projects %}
            <div class="col-11 mb-3 position-relative dash-card bg-white shadow rounded-4">
              <div class="row align-items-center">
                <div class="col-md-3 px-0 rounded-4">
                  {% if project.thumbnail %}
                    <img src="{{ project.thumbnail.url }}" alt="{{ project.title }}-thumb" 
                    class="img-fluid rounded-4">
                  {% endif %}
                </div>
                <div class="col-md-7">
                  <a class="text-color-primary fs-4 base-link" 
                    href="{% url 'projects:project_detail' project.id %}">
                    {{ project.title }}
                  </a>
                  <p class="fw-light">
                    {% if project.status == True %}
                      Pronto
                    {% else %}
                      Em andamento
                    {% endif %}
                  </p>
                  <p class="fw-light">{{ project.created_at }}</p>
                </div>
                <div class="col-2 me-3 me-md-0 mt-3 projects-options position-absolute end-0 top-0">
                  <a href="{% url 'users:edit_project' project.id %}" 
                    class="btn bg-dark text-color-primary shadow rounded-5 mb-2 mb-md-0">
                    <i class="bi bi-pencil-square"></i>
                  </a>
                  {% include '../partials/_delete-project.html' %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
