{% extends 'global/base.html' %}

{% block content %}
  <div class="container case py-md-5" id="dashboard">
    <div class="row justify-content-center pb-3">
      <h2 class="display-4 text-center pt-2 pt-md-0">Bem vindo(a), {{ request.user }}!</h2>
      <div class="col-12 col-md-7 dashboard-profile rounded-3 my-3">
        <ul class="nav justify-content-md-center align-items-center">

          <li class="nav-item">
            {% include '../partials/_register.html' %}
          </li>

          <li class="nav-item ps-md-3 ps-4">
            {% include '../partials/_all-messages.html' %}
          </li>

          <li class="nav-item ps-md-3 pt-2 pt-md-0">
            <form action="{% url 'users:logout_view' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="username" value="{{ request.user.username }}">
              <button type="submit" class="btn btn-outline-danger fs-md-5" href="#">
                <i class="bi bi-box-arrow-left"></i>
                Sair
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-11 col-md-7">
        <h2 class="mb-3 display-6 text-center">Projetos postados</h2>
        {% for project in projects %}
          <div class="row bg-white mb-4 mx-0 shadow-lg">
            <div class="col-12 col-md-3 px-0 bg-white">
              {% if project.thumbnail %}
                <a href="{% url 'projects:project_detail' project.id %}">
                  <img src="{{ project.thumbnail.url }}" alt="{{ project.title }}-thumb" 
                    class="img-fluid">
                </a>
              {% endif %}
            </div>
            <div class="col-10 col-md-8 d-flex flex-column justify-content-between py-2">
              <a href="{% url 'projects:project_detail' project.id %}">
                <h3 class="text-color-primary mb-0">{{ project.title }}</h3>
              </a>
              <p class="fs-5 mb-4">
                {% if project.status == True %}
                  Pronto
                {% else %}
                  Em andamento
                {% endif %}
              </p>
              <p class="fw-light mb-0 fs-6">{{ project.created_at }}</p>
            </div>
            <div class="col-2 d-flex flex-column justify-content-between col-md-1">
              <a href="{% url 'users:edit_project' project.id %}" class="btn fs-4 text-color-primary"><i class="bi bi-pencil-square"></i></a>
              
              <div class="delete-modal-area">
                {% include '../partials/_delete-project.html' %}
              </div>

            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
