{% load static %}

<!-- NAVBAR -->
<nav class="navbar fixed-top navbar-expand-lg py-3 navbar-dark bg-dark" id="navbar">
    <div class="container">
        <a href="{% url 'projects:home' %}" class="navbar-brand">
            <img src="{% static 'global/img/logo.png' %}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAVBAR NAV -->
        <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
        <ul class="navbar-nav align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'projects:projects_all' %}">Projetos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'projects:home' %}#services">Serviços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'projects:home' %}#contact">Contato</a>
            </li>
        </ul>
        </div>

        {% comment %} USER NAV {% endcomment %}
        {% if request.user.is_authenticated %}
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="user-nav navbar-nav align-items-center">
                <li class="nav-item">
                    <div class="dropdown notification-dropdown">
                        <button class="btn text-white notification-btn dropdown-toggle ps-0 pe-1" id="defaultDropdown"
                            data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                            <i class="bi bi-envelope"></i>
                            {% if contact_messages %}
                                <span class="position-absolute top-0 end-10 translate-middle badge rounded-circle">{{ messages_count }}</span>
                            {% endif %}
                        </button>

                        <div class="dropdown-menu dropdown-menu-md-end" aria-labelledby="defaultDropdown">
                            <p class="h5 text-center">Mensagens</p>
                            <hr>
                            {% for message in contact_messages %}
                                <div class="row">
                                    <div class="col-12">
                                        <button type="button" class="btn modal-btn py-2" data-bs-toggle="modal" data-bs-target="#message-modal-{{ message.id }}">
                                            <p class="fs-6 pb-0 mb-0">{{ message.subject }}</p>
                                            <p class="fw-light pb-0 mb-0">De: {{ message.name }}</p>
                                        </button>
                                        
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="message-modal-{{ message.id }}" tabindex="-1" aria-labelledby="message-label-{{ message.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="message-label-{{ message.id }}">{{ message.subject }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <p>De: {{ message.name }}</p>
                                                </div>
                                                <div class="col-auto">
                                                    <p>E-mail: {{ message.email }}</p>
                                                </div>
                                                <div class="col-12">
                                                    <p>{{ message.message }}</p>
                                                </div>
                                                <div class="col-12">
                                                    <p class="fw-light">Enviada: {{ message.sended_at }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <form action="{% url 'projects:read_message' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="message_id" value="{{ message.id }}">
                                            <button type="submit" class="btn btn-primary">
                                                Marcar como lida
                                                <i class="bi bi-check-lg"></i>
                                            </button>
                                        </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="container">
                                    <p class="text-center">Nenhuma mensagem.</p>
                                </div>  
                            {% endfor %}
                        </div>
                    </div>
                </li>
                <li class="nav-item">

                    <!-- OFFCANVAS -->
                    <button class="btn ps-2 pe-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                        aria-controls="offcanvasRight">
                        <i class="bi bi-building-add"></i>
                    </button>
        
                    <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasRight"
                        aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="container col-12">
            
                                <!-- NEW PROJECT FORM -->
                                <form action="{% url 'projects:projects_add' %}" method="POST" class="mt-md-4 rounded" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <h3 class="display-5 text-center pb-5">Novo projeto</h3>
                                    <div class="row justify-content-center pt-3">
                                        {% comment %} FORM 1 {% endcomment %}
                                        {% for field in form %}

                                        <div class="col-12 mb-4">
                                            <label class="form-label" for="{{ field.id_for_label }}">
                                                {{ field.label }}
                                            </label>
                                            {{ field }}                        
                                        </div>
                                        {% endfor %}

                                        <img id="frame" src="" class="img-fluid"/>  

                                        {% comment %} FORM 2 {% endcomment %}
                                        {% for field2 in form2 %}
                                        <div class="col-12 mb-4">
                                            <label for="{{ field2.id_for_label }}" class="form-label">
                                                {{ field2.label }}
                                            </label>
                                            {{ field2 }}
                                        </div>
                                        {% endfor %}

                                        <div class="col-12 mb-4">
                                            <p class="mb-0">Status do projeto:</p>
                                            <select class="form-select" name="status-select" id="status-select" aria-label="Default select example">
                                                <option selected>Pronto</option>
                                                <option value="1">Em andamento</option>
                                            </select>
                                        </div>
            
                                        <button type="submit" onclick="clearImage()" class="btn btn-outline-primary">
                                            Adicionar
                                        </button>
                                    </div>          
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn text-white dropdown-toggle ps-0" type="button" id="dropdownMenuButton1" 
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                            <li><p class="h2 dropdown-header">{{ request.user }}</p></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Dashboard</a></li>
                            <li><a class="dropdown-item" href="#">Cadastrar usuário</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Sair</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
          </div>
        {% endif %}
    </div>
</nav>