{% load static %}

<!-- NAVBAR -->
<nav class="navbar fixed-top navbar-expand-lg py-3 navbar-dark bg-dark" id="navbar">
    <div class="container">
        <a href="{% url 'projects:home' %}" class="navbar-brand">
        <img src="{% static 'global/img/logo.png' %}" alt="logo">
        JP.C Engenharia
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAVBAR NAV -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-center">
            <li class="nav-item">
            <a class="nav-link" href="#projects">Projetos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#services">Serviços</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#contact">Contato</a>
            </li>
            <li class="nav-item">

            <!-- OFFCANVAS -->
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
                <i class="bi bi-upload"></i>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                <h4 id="offcanvasRightLabel">Adicionar Projeto</h4>
                <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                <div class="container col-12">

                    <!-- NEW PROJECT FORM -->
                    <form action="{% url 'projects:projects_add' %}" method="POST" class="mt-md-4 bg-dark rounded" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="row justify-content-center">
                                {% for field in form %}
                                <div class="col-12 mb-4">                                    
                                    <label class="form-label" for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                    </label>
                                    {{ field }}                        
                                </div>
                                {% endfor %}
                                <img id="frame" src="" class="img-fluid"/>
                                <div class="col-12 mb-4">
                                    <p>Status do projeto:</p>
                                    <select class="form-select" name="status-select" id="status-select" aria-label="Default select example">
                                        <option selected>Pronto</option>
                                        <option value="1">Em andamento</option>
                                    </select>
                                </div>
                                <button type="submit" onclick="clearImage()" class="btn btn-outline-primary">
                                    Adicionar
                                </button>
                            </div>          
                    </form>

                </div>
                </div>
            </div>
            </li>
        </ul>
        </div>
    </div>
</nav>