{% load static %}

<!-- NAVBAR -->
<nav class="navbar fixed-top navbar-expand-lg py-3 navbar-dark bg-dark" id="navbar">
    <div class="container">
        <a href="#" class="navbar-brand">
        <img src="{% static 'global/img/logo.png' %}" alt="logo">
        JP.C Engenharia
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAVBAR NAV -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-center">
            <li class="nav-item">
            <a class="nav-link" href="#projects">Projetos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#services">Serviços</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#contact">Contato</a>
            </li>
            <li class="nav-item">

            <!-- OFFCANVAS -->
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
                <i class="bi bi-person-circle"></i>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                <h4 id="offcanvasRightLabel">Adicionar Projeto</h4>
                <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                <div class="container col-12">

                    <!-- NEW PROJECT FORM -->
                    <form action="" class="mt-md-4 bg-dark rounded">
                    <div class="row justify-content-center">
                        <div class="col-12 mb-4">
                        <label for="project-name" class="form-label">Nome do projeto:</label>
                        <input type="text" class="form-control" name="project-name" required
                            placeholder="Digite o nome do projeto">
                        </div>
                        <div class="col-12 mb-4">
                        <p>Status do projeto:</p>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Pronto</option>
                            <option value="1">Em andamento</option>
                        </select>
                        </div>
                        <div class="col-12 mb-4">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Foto de
                            capa:</label>
                            <img id="frame" src="" class="img-fluid" />
                            <input class="form-control" type="file" id="formFile" onchange="preview()">
                        </div>
                        </div>
                        <div class="col-12 mb-4">
                        <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Fotos:</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                        </div>
                        </div>
                        <button onclick="clearImage()" type="submit"
                        class="col-11 btn btn-outline-primary">Adicionar</button>
                    </div>
                    </form>

                </div>
                </div>
            </div>
            </li>
        </ul>
        </div>
    </div>
</nav>