{% load static %}

{% if messages %}
    <div class="toast-container site-messages position-fixed bottom-0 end-0 p-3">
        {% for message in messages %}
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="myToastEl">
                <div class="toast-header bg-color-{{ message.tags }} text-white">
                    <strong class="me-auto">Nova Mensagem</strong>
                    <small class="text-white">agora</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <p class="text-dark">{{ message|safe }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

<script>
    var myToastEl = document.getElementById('myToastEl')
    let toast = bootstrap.Toast.getOrCreateInstance(myToastEl);
    toast.show(); 
</script>
