{% load static %}

<section class="case" id="case">
    <div class="container-fluid presentation">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md-6 order-md-0 order-2">
            <h1 class="display-1 text-dark pb-2">JP.C Engenharia</h1>
            <h2 class="h1 subtitle">Solução em elétrica e hidráulica para sua obra!</h2>
            <p>Especialistas em projetos elétricos, hidrossanitários, gás e sistemas de combate a incêndio,
              em obras residenciais e comerciais.</p>
            <a href="#contact" class="btn btn-outline-primary col-md-4 col-12 px-4 mb-4">Entre em contato</a>
          </div>
          <div class="col-md-5">
            <img src="{% static 'global/img/logo.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>