{% load static %}

<section class="services pt-md-4 pb-md-5" id="services">
    <div class="container-fluid">
      <h3 class="display-1 text-center mt-4 mb-md-5">Serviços</h3>
      <div class="row justify-content-center gx-1">
        <div class="card col-10 col-md-3">
          <h3 class="card-header text-center">Projetos</h3>
          <div class="card-body text-dark">
            <ul class="px-4 py-3">
              <li>Elétrico</li>
              <li>Hidrossanitário</li>
              <li>Combate a Incêndio</li>
              <li>Gás</li>
              <li>SDPA</li>
            </ul>
            <a href="{% url 'projects:projects_all' %}" class="col-12 btn btn-dark">Ver mais...</a>
          </div>
        </div>
        <div class="card col-10 col-md-3 bg-dark">
          <h3 class="card-header text-center text-dark">Mão de obra</h3>
          <div class="card-body text-white">
            <ul class="px-4 py-3">
              <li>Elétrica</li>
              <li>Hidraulica</li>
              <li>Sistema Combate a Incêndio</li>
              <li>Gás</li>
              <li>SDPA</li>
            </ul>
          </div>
        </div>
        <div class="card col-10 col-md-3">
          <h3 class="card-header text-center">Materiais</h3>
          <div class="card-body">
            <ul class="px-4 py-3 text-dark">
              <li>Elétrico</li>
              <li>Hidraulico</li>
              <li>Incêndio</li>
              <li>Gás</li>
              <li>SDPA</li>
            </ul>
            <a href="" class="col-12 btn btn-dark">Ver mais...</a>
          </div>
        </div>
      </div>
  </section>