{% load static %}

<section class="services pt-md-4 pb-md-5" id="services">
    <div class="container-fluid">
      <h3 class="display-1 text-center mt-4 mb-md-5">Serviços</h3>
      <div class="row justify-content-center gx-1">
        <div class="card col-10 col-md-3">
          <h3 class="card-header text-center">Projetos</h3>
          <div class="card-body text-dark">
            <ul class="px-4 py-3">
              <li>Elétrico</li>
              <li>Hidrossanitário</li>
              <li>Combate a Incêndio</li>
              <li>Gás</li>
              <li>SDPA</li>
            </ul>
            <a href="{% url 'projects:projects_all' %}" class="col-12 btn btn-dark">Ver mais...</a>
          </div>
        </div>
        <div class="card col-10 col-md-3 bg-dark">
          <h3 class="card-header text-center text-dark">Mão de obra</h3>
          <div class="card-body text-white">
            <ul class="px-4 py-3">
              <li>Elétrica</li>
              <li>Hidraulica</li>
              <li>Sistema Combate a Incêndio</li>
              <li>Gás</li>
              <li>SDPA</li>
            </ul>
          </div>
        </div>
        <div class="card col-10 col-md-3">
          <h3 class="card-header text-center">Materiais</h3>
          <div class="card-body">
            <ul class="px-4 py-3 text-dark">
              <li>Elétrico</li>
              <li>Hidraulico</li>
              <li>Incêndio</li>
              <li>Gás</li>
              <li>SDPA</li>
            </ul>
            <button type="button" class="col-12 btn btn-dark" data-bs-toggle="modal" data-bs-target="#materials-modal">
              Ver mais...
            </button>
            </div>
          </div>
        </div>
      </div>

      {% comment %} MATERIALS MODAL {% endcomment %}
      <div class="modal fade" id="materials-modal" tabindex="-1" aria-labelledby="materials-modal-label" 
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="materials-modal-label">Materiais</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row justify-content-around">
                {% for material in materials %}
                  <div class="col-5 material-card px-0">
                    {% if material.sample_picture %}
                      <img src="{{ material.sample_picture.url }}" class="img-fluid" 
                        alt="{{ material.material }}-picture">
                    {% endif %}
                    <div class="material-info px-1 pt-1">
                      <p class="h5 material-title text-color-primary py-1 mb-0">
                        {{ material.material }}
                      </p>
                      <p class="text-secondary pt-1">{{ material.short_description }}</p>
                    </div>
                  </div>
                {% empty %}
                  <p>Nenhum material encontrado.</p>
                {% endfor %}
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
  </section>