:root {
    --color-primary: rgb(2, 197, 171);
    --color-secondary: rgb(231, 231, 231);
    --color-dark: rgb(52, 58, 64);
    --color-gray-0: rgb(150, 150, 150);
    --color-gray-1: rgb(100, 100, 100);
    --color-gray-2: rgb(70, 70, 70);
}

a {
    text-decoration: none;
}

body {
    background-color: var(--color-secondary);
}

.bg-secondary-color {
    background-color: var(--color-primary);
    color: white;
    padding: 20px 0;
}

/* BUTTONS */

.btn:focus {
    box-shadow: none;
}

.btn.btn-outline-primary {
    border-color:var(--color-primary);
    color:var(--color-primary);
}

.btn.btn-outline-primary:hover {
    background-color: var(--color-primary);
    color: white;
}

.btn.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn.btn-primary:hover {
    background-color: rgb(2, 171, 149);
    border-color: rgb(2, 171, 149);
}

.btn.btn-secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color:var(--color-primary);
}

.btn.btn-secondary:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.btn.btn-outline-secondary {
    border-color:var(--color-secondary);
    color:var(--color-secondary);
}

.btn.btn-outline-secondary:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color:var(--color-primary);
}

/* NAVBAR */

.navbar #navbarNav a {
    color:var(--color-primary);
    font-size: 19px;
}

.navbar #navbarNav a:hover {
    color: rgb(25, 249, 219);
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
    border: 1px solid var(--color-primary);
}

.navbar .navbar-brand img {
    width: 50px;
    height: 50px;
}

.bi-person-circle {
    border-left: 1px solid var(--color-secondary);
    padding-left: 15px;
}

.bi-file-earmark-plus,
.bi-person-circle,
.bi-bell {
    color:var(--color-secondary);
    font-size: 27px;
}

.bi-file-earmark-plus:hover,
.bi-person-circle:hover,
.bi-bell:hover {
    color:var(--color-primary);
}

#navbarNav .dropdown .dropdown-item {
    font-size: 16px;
    color: var(--color-secondary);
}

/* PROJECTS ADD */

.offcanvas {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.500) 5%, rgba(0, 0, 0, 0.400) 76%, rgba(0, 0, 0, 0.200) 100%);
    color: white;
    border-left: 1px solid rgba(255, 255, 255, 0.334);
}

.frame-img {
    padding: 10px;
    border: 1px solid white;
    margin: 10px 0;
}

.offcanvas-header .btn-close {
    color: white;
}

.offcanvas-header .btn-close:focus {
    box-shadow: none;
}

.offcanvas-body {
    display: flex;
    align-items: center;
}

.offcanvas form {
    padding: 10px 25px 25px;
}

.offcanvas form h3 {
    border-bottom: 1px solid var(--color-primary)
}

.offcanvas form .form-label,
.offcanvas form p {
    color: var(--color-primary);
    font-size: 18px;
}

.offcanvas form .form-control,
.offcanvas form .form-select {
    border: none;
    background-color: inherit;
    border-bottom: 1px solid white;
    color: white;
    border-radius: 0;
    transition: all 300ms ease-in-out;
}

.offcanvas form .form-control:focus,
.offcanvas form .form-select:focus {
    box-shadow: none;
    border-bottom: 1px solid var(--color-primary);
}

.offcanvas form .form-select option {
    background-color: var(--color-dark);
}

/* CASE */

.case {
    margin-top: 92px;
}

.case p {
    font-size: 20px;
    color: var(--color-gray-2)
}

.case h1 {
    border-bottom: 1px solid var(--color-gray);
    color: var(--color-secondary);
}

/* PROJECTS */

.projects .col-md-5 {
    text-align: center;
}

.projects .carousel {
    margin-top: 10px;
}

.projects .carousel-caption {
    background-color: rgba(0, 0, 0, 0.585);
    font-size: 12px;
    padding: 0;
}

.projects .carousel-caption h5 {
    font-size: 16px;
}

#projects-link {
    color:var(--color-primary);
    transition: 300ms;
    font-size: 18px;
}

.projects #projects-link:hover {
    color:rgb(25, 249, 219);
}

/* SERVICES */

.services {
    padding: 0 0 80px;
}

.services .card {
    margin: 15px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.644);
    width: 300px;
    transition: 500ms all ease-in-out;
    border-radius: 0;
}

.services .card:hover {
    transform: scale(1.01);
}

.services .card-header {
    background-color: var(--color-primary);
    color: white;
    margin: 1px;
    border-radius: 0;
}

.reversed-card {
    background-color: var(--color-primary);
    color: white;
}

.reversed-card .card-header {
    background-color: white;
}

.services .card-body ul li {
    font-size: 17px;
    padding: 5px 0;
}

/* CONTACT */

#contact {
    border-top: 1px solid #5e5e5e
}

#contact form .form-control {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    border-radius: 0;
}

#contact form .form-control:focus {
    box-shadow: none;
}

#contact form .form-floating textarea {
    background-color: white;
    height: 150px;
    border: 1px solid var(--color-primary);
}

#contact .h5 {
    color: var(--color-primary);
}

.map iframe {
    height: 400px;
    width: 100%;
  }

/* PROJECTS PAGE */

.projects h2 {
    border-bottom: 1px solid #939393;
}

.project-card {
    position: relative;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    max-height: 300px;
}

.project-card:hover {
    transform: scale(1.01);
}

.project-card-body {
    display: none;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    height: 100%;
    color: var(--color-secondary);
}

.project-card-body a {
    color: var(--color-primary);
}

.project-card:hover > .project-card-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* DETAIL PAGE */

.project-imgs img {
    transition: all 300ms ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}

.project-imgs img:hover {
    transform: scale(1.02);
    opacity: 0.8;
}

.thumb-img {
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.449);
}

.thumb-img img {
    padding: 12px 1px;
}

/* FOOTER */

footer h3 {
    color: var(--color-primary);
}

/* DESKTOP MEDIA QUERY */

@media(min-width: 768px) {
    /* PRESENTATION MEDIA */
    .presentation {
        padding: 10px;
        height: 450px;
        display: flex;
        align-items: center;
    }

    /* PROJECTS MEDIA */

    .projects {
        padding: 50px 0 20px;
    }

    .projects .carousel-caption {
        background-color: rgba(0, 0, 0, 0.585);
        font-size: 16px;
        padding: 10px;
    }

    .projects .carousel-caption {
        background-color: rgba(0, 0, 0, 0.585);
        
    }
    
    .projects .carousel-caption h5 {
        font-size: 20px;
    }

    /* PROJECT ADD MEDIA */

    .offcanvas {
        width: 550px;
    }

    .offcanvas-body {
        display: block;
        margin-top: 30px;
    }

    .offcanvas-body form {
        font-size: 17px;
    }

    .offcanvas-body form button {
        padding: 8px 0;
        font-size: 18px;
    }
}

