:root {
    --color-primary: rgb(3, 148, 129);
    --color-primary-hover: rgb(2, 197, 171) ;
    --color-primary-transparent: rgba(3, 148, 129, 0.71);
    --color-secondary: rgb(241, 241, 241);
    --color-dark: #32363a;
    --color-dark-2: #43474a;
    --color-gray-0: rgb(150, 150, 150);
    --color-gray-1: rgb(100, 100, 100);
    --color-gray-2: rgb(70, 70, 70);
    --color-danger: rgb(251, 46, 46);
}

a {
    text-decoration: none;
}

body {
    background-color: var(--color-secondary);
}

/* BASICS */

.w-97 {
    width: 97%;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 50%;
}

.base-link {
    color: var(--color-primary);
    transition: all 300ms ease-in-out;
}

.base-link:hover {
    color:var(--color-primary-hover);
}

.text-color-primary {
    color: var(--color-primary);
}

.text-color-secondary {
    color: var(--color-secondary);
}

.bg-color-primary {
    background-color: var(--color-primary);
}

.bg-color-secondary {
    background-color: var(--color-secondary);
}

.bg-color-danger {
    background-color: var(--color-danger);
}

.bg-secondary-color {
    background-color: var(--color-primary);
    color: white;
    padding: 20px 0;
}

.shadow {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.400) !important;
}

/* BUTTONS */

.btn:focus {
    box-shadow: none;
}

.btn.btn-outline-primary {
    border-color:var(--color-primary);
    color:var(--color-primary);
}

.btn.btn-outline-primary:hover {
    background-color: var(--color-primary);
    color: white;
}

.btn.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn.btn-primary:hover {
    background-color: rgb(2, 171, 149);
    border-color: rgb(2, 171, 149);
}

.btn.btn-secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color:var(--color-primary);
}

.btn.btn-secondary:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.btn.btn-outline-secondary {
    border-color:var(--color-secondary);
    color:var(--color-secondary);
}

.btn.btn-outline-secondary:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color:var(--color-primary);
}

/* NAVBAR */

.navbar {
    border-bottom: 1px solid var(--color-gray-0);
    background-color: var(--color-secondary);
}

.navbar #navbarNav a {
    color:var(--color-dark);
    font-size: 19px;
}

.navbar #navbarNav a:hover {
    color: var(--color-primary-hover);
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
    border: 1px solid var(--color-primary);
}

.navbar .navbar-brand img {
    width: 50px;
    height: 50px;
}

.user-nav .bi-envelope,
.user-nav .bi-building-add,
.user-nav .bi-person-circle {
    font-size: 28px;
}

.user-nav .bi-building-add,
.user-nav .bi-person-circle,
.user-nav .bi-envelope {
    color:var(--color-dark);
}

.user-nav .bi-building-add:hover,
.user-nav .bi-person-circle:hover,
.user-nav .bi-envelope:hover {
    color:var(--color-primary-hover);
}

.user-nav .bi-person-circle {
    border-left: 1px solid var(--color-gray-0);
    padding-left: 17px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

#navbarNav .dropdown .dropdown-item {
    font-size: 16px;
    color: var(--color-secondary);
}

.notification-btn .badge {
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

.notification-dropdown .dropdown-menu {
    width: 230px;
}

.notification-dropdown .dropdown-menu .modal-btn {
    width: 100%;
    text-align: left;
    border-radius: 0;
}

.notification-dropdown .dropdown-menu .modal-btn:hover {
    background-color: var(--color-primary-transparent);
}

.modal-backdrop {
    z-index: 1020;
}

.user-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* PROJECTS ADD */

.frame-img {
    padding: 10px;
    border: 1px solid white;
    margin: 10px 0;
}

.offcanvas-header .btn-close {
    color: var(--color-dark);
}

.offcanvas-header .btn-close:focus {
    box-shadow: none;
}

.offcanvas-body {
    display: flex;
    align-items: center;
}

#project-form {
    padding: 10px 25px 25px;
}

#project-form h3 {
    border-bottom: 1px solid var(--color-primary)
}

#project-form .form-label,
#project-form p {
    color: var(--color-dark-2);
    font-size: 18px;
}

#project-form .form-control,
#project-form .form-select {
    background-color: inherit;
    color: var(--color-dark-2);
    transition: all 300ms ease-in-out;
}

#project-form .form-control:focus,
#project-form .form-select:focus {
    box-shadow: none;
}

/* CASE */

.case {
    margin-top: 92px;
}

/* PROJECTS */

#projects .primary-img,
#projects .secondary-img,
#projects .projects-redirect  {
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

#projects .primary-img:hover,
#projects .secondary-img:hover,
#projects .projects-redirect:hover {
    transform: scale(1.01);
}

#projects .primary-img .img-fluid {
    height: 100%;
}



#projects-link {
    color:var(--color-primary);
    transition: 300ms;
    font-size: 18px;
}

.projects #projects-link:hover {
    color:rgb(25, 249, 219);
}

/* SERVICES */

.services-card {
    transition: all 400ms ease-in-out;
    opacity: 0.9;
}

.services-card:hover {
    transform: scale(1.05);
    opacity: 1;
}

.services-card ul {
    list-style: none;
}

.services-card ul li {
    margin-bottom: 5px;
}

/* CONTACT */

#contact .info-col {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact form .form-control,
#registerModal form .form-control {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    border-radius: 0;
}

#contact form .form-control:focus,
#registerModal form .form-control {
    box-shadow: none;
}

#contact form .form-floating textarea {
    background-color: white;
    height: 150px;
    border: 1px solid var(--color-primary);
}

.map iframe {
    height: 400px;
    width: 100%;
  }

/* PROJECTS PAGE */

.projects h2 {
    border-bottom: 1px solid #939393;
}

.project-card {
    position: relative;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    max-height: 300px;
}

.project-card:hover {
    transform: scale(1.01);
}

.project-card-body {
    display: none;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    height: 100%;
    color: var(--color-secondary);
}

.project-card-body a {
    color: var(--color-primary);
}

.project-card:hover > .project-card-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* DETAIL PAGE */

.project-imgs img {
    transition: all 300ms ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}

.project-imgs img:hover {
    transform: scale(1.02);
    opacity: 0.8;
}

.thumb-img {
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.449);
}

.thumb-img img {
    padding: 12px 1px;
}

/* LOGIN PAGE */

#login-page form {
    border-top: 4px solid var(--color-primary)
}

#login-page form .form-control {
    border: none;
    border-bottom: 1px solid var(--color-primary);
    border-radius: 0;
    box-shadow: none;
}

#login-page form .input-group-text {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-secondary)
}

/* DASHBOARD */

#accordion-messages .accordion-header .accordion-button:focus {
    box-shadow: none;
    outline: none;
    border: none;
}

.dash-projects {
    max-height: 450px;
}

.dash-options .btn {
    color: var(--color-secondary);
    text-align: left;
    transition: all 300ms ease-in-out;
}

.dash-options .btn:hover {
    color: var(--color-primary);
    transform: scale(1.02);
}

.projects-options .btn:hover {
    color: var(--color-secondary);
}

.dash-card {
    overflow: hidden;
}

/* FOOTER */

footer h3 {
    color: var(--color-primary);
}

/* DESKTOP MEDIA QUERY */

@media(min-width: 768px) {
    /* PRESENTATION MEDIA */
    .presentation {
        padding: 10px;
        height: 450px;
        display: flex;
        align-items: center;
    }

    /* PROJECTS MEDIA */

    /* PROJECT ADD MEDIA */

    .offcanvas {
        width: 500px;
    }

    #services {
        height: 450px;
    }
    
    #services .services-column {
        height: 280px;
    }
}

